page-home {
    ion-content {
        background-size: cover;
    }
    .bg{
        background:rgba(255, 255, 255, 0.8);
    }
    .bg1{
        background:rgba(240, 150, 48, 0.377);
    }
    .bg2{
        background:rgba(255,0,0,0.3);
    }
    ion-card-header, ion-card-content{
        text-align: center;
    }
    ion-icon{
        color: #868686;
    }
    .image{
        width: 15%;
        height: 15%;
    }
    .text{
        margin: 2%;
    }
    .size{
        width: 50%;
    }
}
